{%extends 'base.html'%}

{%block body_block%}
<div class="container d-flex justify-content-center mt-5">
  <div class="card" style="width: 18rem;">
    {%if data.picture%}
    <img src="{{data.picture.url}}" alt="">
    {%endif%}
      <div class="card-header">
        <strong>name: {{data.name}}</strong>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">author : {{data.author}}</li>
        <li class="list-group-item">price : {{data.price}}</li>
        <li class="list-group-item">publisher: {{data.publisher}}</li>
      </ul>
    </div>
</div>
{%endblock%}